<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/28ad30bb99.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado_Liebre</title>
</head>
<body>
    <header class="home_header">
        <section class="header__section">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo" width="100%">
            
                <form action="" class="header__form">
                    <input type="search" placeholder="Buscar productos,marcas">
                    <i class="fa-solid fa-magnifying-glass fa-s"></i>
                </form>
                <article class="header__article">    
                <i class="fa-solid fa-hand-holding-dollar fa-lg"></i>
                <span>Compra en cuotas y sin tarjetas de creditos</span>
                </article>
        </section>
        <section class="header__nav__home">
            <nav class="nav__home1">
                <ul>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="nav__home2">
                <ul>
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>    
        </section>        
            
            <article>
                <div class="burger_menu">
                    <span><i class="fa-solid fa-bars fa-xl"></i></span>
                </div>
            </article>  
    </header>
    
    <main>
        <img class="home_banner" src="images/img-home-banner.jpg" width="100%" alt="Imagen del banner">
        <h2 class="home__main__titulo__h2">Basado en tu ultima vista</h2>
        <section class="section__ultima__vista main__section">
            
            <article class="main__article__producto">
                
                    <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera moulinex">
                
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$6770</h4>
                    <h4 class="descuentos" >40% OFF</h4>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
                
            </article>
            <article class="main__article__producto">
                
                    <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="Macbook Pro 2019">
               
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$230.000</h4>
                    <h4 class="descuentos" >20% off</h4>
                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
                
            </article>
            <article class="main__article__producto">
                
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy S10">
                
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$70.500</h4>
                    <h4 class="descuentos" >10% off</h4>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
                
            </article>
            <article class="main__article__producto">
                
                    <img src="images/img-tv-samsung-smart.jpg" width="100%" alt='Smart Tv Samsung 43"'>
                
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$23.200</h4>
                    <h4 class="descuentos" >5% off</h4>
                    <h4 class="descripcion">Smart Tv Samsung 43"</h4>
                </div>
                
            </article>
            
        </section>
        <h2 class="home__main__titulo__h2">Seccion de ofertas</h2>
        <section class="section__ofertas main__section">
            
            <article class="main__article__producto">
               
                    <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera moulinex">
                
            

                <div class="producto_detalles">
                <div class="logo__envio">
                    <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                </div>
                    <h4 class="precio">$6770</h4>
                    <h4 class="descuentos" >40% OFF</h4>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="main__article__producto">
                
                    <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="Macbook Pro 2019">
                
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$230.000</h4>
                    <h4 class="descuentos" >20% off</h4>
                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
                
            </article>
            <article class="main__article__producto">
                <div >
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy S10">
                </div>
                <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$70.500</h4>
                    <h4 class="descuentos" >10% off</h4>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
                
            </article>
            <article  class="main__article__producto">
                <div>
                    <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="">
                </div>
                 <div class="producto_detalles">
                    <div class="logo__envio">
                        <i class="fa-solid fa-truck fa-lg" style="color: #0c7605;"></i>
                    </div>
                    <h4 class="precio">$23.200</h4>
                    <h4 class="descuentos" >5% off</h4>
                    <h4 class="descripcion">Smart Tv Samsung 43"</h4>
                 </div>
               
            </article>
        </section>
    </main>
    
    <footer>
        
        <section class="sec_footer">
            <article class="footer__section__article">
                <i  class="fa-solid fa-credit-card fa-2xl"></i>
            <h3 class="txt_footer">Paga con tarjeta o en efectivo</h3>
        
                <p>MercadoLiebreCash tenes cuotas sin
                    interes con tarjeta o efectivo en puntos de
                    pago.¡Y siempre es seguro!</p>  
            </article>
            
        </section>
        <section class="sec_footer">
            <article class="footer__section__article">
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h3 class="txt_footer">Envio gratis desde los $2.500</h3>
            
                    <p>Solo por estar registrado en Mercado Liebre
                    tenes envio gratis en miles de productos.Es
                    un beneficio de Mercado Puntos</p>
            </article>
            
            
        </section>
        <section class="sec_footer">
            <article class="footer__section__article">
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h3 class="txt_footer">Seguridad de principio a fin</h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre
                 no hay nada que no puedas hacer porque
                  estas siempre protegi@.</p>
            </article>
            
        </section>
        <p class="copyright">Copyright <i class="fa-regular fa-copyright fa-lg"></i> 1999-2020 MercadoLiebre S.R.L</p>
        
    </footer>
</body>
</html>