*{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 100;

}

:root{
    --color-amarillo:#EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259C3;
    --color-gris_oscuro:#666;
    --color-gris_claro:#EBEBEB;
    --COLOR-VERDE:#39b54a;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: inline-block;
    
}
body h2{
    font-size: 24px;
    text-align: center;
}
body h4{
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.home_header{
    background-color: var(--color-amarillo);
    padding-left: 10px;
    padding-bottom: 10px;
}
.home_header nav{
    margin-left: -48px;
}
.lista2 li i{
    padding-left: 5px;
}
.home_header h3{
    margin-left: 15px;
    font-size: 12px;
}
.logo{
    width: 35vw;
    padding:40px 0px 30px 35px;
}
.buscador{
    padding-bottom: 5px;
}
#lupa{
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}
#lupa i{
    margin:50% 20%;
    
}
.home_banner img{
    width: 320px;
    margin-top: -18px;
}
.precio{
    font-size: 18px;
}
