@import url(./general.css);
@import url(./header.css);
@import url(./respondive.css);


/* franja del baner*/

.home_banner{
    height: 40%;
    width: 100%;
    margin:0px 0px 10px 0px;

}
.home_banner img{
    height: 100%;
    width: 100%;
}

/* Parte del Main*/

main{
    background-color: var(--color-grisclaro);
   
}
.producto_detalles{
    text-align: left;
    border-top: 1px solid #ebebeb
    
}
main section article{
    text-align: center;
    margin: 10px 10px 0px 10px;
    background-color: #fff;
}
.precio{
    font-size: 18px;

}
main section h2{
    text-align: center;
}
.logo__envio{
    display: flex;
    width: 50px;
    height: 50px;
    
    align-items: center;
    border:1px solid #0c7605 ;
    border-radius: 50%;
}
.descripcion{
    display: none;
}
.descuentos{
    color: green;
}

/*Parte del Footer*/



footer{
    display: flex;
    justify-content:flex-start;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
    background-color: var(--color-grisclaro);
    
}

.footer__section__article{
    text-align: center;
    background-color:#fff;
    margin: 10px;
    
    
    
}
footer section article i{
    margin: 30px 0px 20px 0px;
    color: var(--color-celeste);
    font-size: 2em;
}




